{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link href="{% static 'boxicons/css/boxicons.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/box-icon-toggle-controller.js' %}"></script>
<script src="{% static 'js/header.js' %}"></script>
{% endblock %}

{% block body %}
<header class="header">
    <div class="container header-container">
        <div class="logo-section">
            <h2><i>Tovarida</i></h2>
        </div>
        <div class="catalog-section">
            <div class="tova-btn tova-btn-primary tova-icon-btn">
                <i class='bx bx-menu btn-icon'></i>
                Каталог
            </div>
        </div>
        <div class="search-section">
            <form>
                <div class="input-wrap">
                    <input type="text" name="query" placeholder="Искать на Tovarida">
                    <button type="submit">
                        <i class='bx bx-search-alt'></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="menu-section">
            <div class="menu-section__item">
                <div class="menu-section__item-icon">
                    <i class='bx bx-bookmark-heart'></i>
                </div>
                <div class="menu-section__item-text">
                    Избранное
                </div>
            </div>
            <div class="menu-section__item">
                <div class="menu-section__item-icon">
                    <i class='bx bx-cart-alt'></i>
                </div>
                <div class="menu-section__item-text">
                    Корзина
                </div>
            </div>
            <div class="menu-section__item">
                <div class="menu-section__item-icon">
                    <i class='bx bx-user-circle'></i>
                </div>
                <div class="menu-section__item-text">
                    Войти
                </div>
            </div>
        </div>
    </div>
    <div class="header-container-mobile">
        <div class="offset-section-mobile"></div>
        <div class="middle-section-mobile">
            <div class="search-section-mobile" id="mobile-search-bar" style="display: none">
                <form>
                    <input type="text" name="query" placeholder="Искать на Tovarida">
                </form>
            </div>
            <div class="logo-section-mobile" id="mobile-logo">
                <h2>Tovarida</h2>
            </div>
        </div>
        <div class="search-toggle-section-mobile" id="mobile-search-toggle">
            <i class="bx bx-search-alt"></i>
        </div>
    </div>
</header>
{% block content %}{% endblock %}
<footer>
    <div class="mobile-footer-menu">
        <div class="menu-section__item">
            <div class="menu-section__item-icon">
                <i class='bx bx-bookmark-heart'></i>
            </div>
            <div class="menu-section__item-text">
                Избранное
            </div>
        </div>
        <div class="menu-section__item">
            <div class="menu-section__item-icon">
                <i class='bx bx-cart-alt'></i>
            </div>
            <div class="menu-section__item-text">
                Корзина
            </div>
        </div>
        <div class="menu-section__item">
            <div class="menu-section__item-icon">
                <i class='bx bx-user-circle'></i>
            </div>
            <div class="menu-section__item-text">
                Войти
            </div>
        </div>
    </div>
</footer>
{% endblock %}