{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div class="header-wrapper">
    <nav class="main-header">
        <div class="row row-cols-4 justify-content-center align-items-center">
            <div class="col col-2 d-flex justify-content-center align-items-center">
                <div class="header-brand">
                    <h3 class="mb-0"><i class="fa-brands fa-shopify"></i> <i>Tovarida</i></h3>
                </div>
            </div>
            <div class="col col-2 d-flex justify-content-center align-items-center">
                <div class="header-catalog">
                    <button class="btn tvrd-btn-primary">
                        <i class="fa-solid fa-bars"></i>
                        <span>Каталог</span>
                    </button>
                </div>
            </div>
            <div class="col col-4 d-flex justify-content-center align-items-center">
                <div class="header-search w-100">
                    <div class="search-form-wrapper w-100">
                        <form class="w-100">
                            <div class="search-bar-container w-100 d-flex flex-row">
                                <input class="search-input" type="text" placeholder="Искать на Tovarida">
                                <button type="submit" class="btn tvrd-btn-primary search-btn">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-4 d-flex justify-content-center align-items-center">
                <div class="header-menu">
                    <div class="d-flex flex-row justify-content-around">
                        <div class="header-menu-item">
                            <i class="fa-solid fa-heart header-menu-icon"></i>
                            <span>Избранное</span>
                        </div>
                        <div class="header-menu-item">
                            <i class="fa-solid fa-cart-shopping header-menu-icon"></i>
                            <span>Корзина</span>
                        </div>
                        <div class="header-menu-item">
                            <i class="fa-solid fa-user header-menu-icon"></i>
                            <span>Войти</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
{% block content %}{% endblock %}
{% endblock %}