{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tovarida</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
    {% block meta %}{% endblock %}
</head>
<body>
<div class="container-fluid">
    {% block body %}{% endblock %}
</div>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>